@{
    ViewBag.Title = "Manage Sales";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Sale Date</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>No. of Tickets</th>
            <th>Proceeds</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">34566</th>
            <td>2016/02/21</td>
            <td>Madonna</td>
            <td>2016/02/21</td>
            <td>2</td>
            <td>£3.65</td>
        </tr>
    </tbody>
</table>